<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>BeSomeone'sLight</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link href="css/templatemo-festava-live.css" rel="stylesheet">

    <!--
    

TemplateMo 583 Festava Live

https://templatemo.com/tm-583-festava-live

-->
   
    </head>

<body>

    <main>

        <header class="site-header">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 d-flex flex-wrap">
                        <p class="d-flex me-4 mb-0">
                            <strong class="text-dark">
                                Parler aide , parler apaise ,  mais pa﻿rler à la bonne personne 
                                guérit !
                                </strong>
                        </p>
                    </div>

                </div>
            </div>
        </header>


        <nav class="navbar navbar-expand-lg">
            <a href="index.html" > <img src="images/logo.png" alt="Logo HubSpot" width=20% height=20%/></a>
            <div class="container">
               

                <a href="ticket.html" class="btn custom-btn d-lg-none ms-auto me-4">Buy Ticket</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                        <li class="nav-item">
                            <h5><a href="#section_1">Accueil</a></h5>
                        </li>
                        <br>
                        <li class="nav-item">
                            <h5><a href="mentors.html">Mentors</a></h5>

                        </li>
                       
                        <li class="nav-item">
                            <h5> <a href="#section_3">Services</a></h5>
                        </li>
                       
                        <li class="nav-item">
                           <h5><a href="#section_4">Actualité</a></h5> 
                        </li>

                        <li class="nav-item">
                            <h5><a href="gallery.html">Gallery</a></h5>
                        </li>
                        <li class="nav-item">
                           <h5> <a href="#section_2">Apropos </a></h5>
                        </li>


                        <li class="nav-item">
                           <h5><a href="#section_6">Contacts</a></h5> 
                        </li>
                        <li class="nav-item">
                            <h5><a href="#section_6">Découverte de Soi</a></h5>
                        </li>
                    </ul>

                    <a href="ticket.html" class="btn custom-btn d-lg-block d-none"></a>
                </div>
            </div>
        </nav>


        <section class="hero-section" id="section_1">
            <div class="section-overlay"></div>

            <div class="container d-flex justify-content-center align-items-center">
                <div class="row">

                    <div class="col-12 mt-auto mb-5 text-center">

                        <!--h1 class="text-white mb-5">BeSomeone'sLight</h1>
                        
                        <small>"Parler aide, parler apaise ; mais parler à la bonne 
                            personne guérit !"</small-->
                        </br>
                        </br>
                    </div>

                    <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-left">
                        <div class="date-wrap">
                            <h5 class="text-white">
                            </h5>
                        </div>
                        <div class="location-wrap mx-auto py-3 py-lg-0">
                              <h5 class="text-white">
                              </h5>
                        </div>

                        <div class="location-wrap mx-auto py-3 py-lg-0">
                            <h5 class="text-white">
                            </h5>
                        </div>

                        <div class="location-wrap mx-auto py-3 py-lg-0">
                          
                            <h5 class="text-white">
                            </h5>
                        </div>

                        <div class="social-share">
                            <ul class="social-icon d-flex align-items-center justify-content-center">
                                <li class="social-icon-item">
                                    <a class="btn custom-btn " href="rrr.html">Parlez nous</a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link">
                                        <span class="bi-facebook"></span>
                                    </a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link">
                                        <span class="bi-twitter"></span>
                                    </a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link">
                                        <span class="bi-instagram"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="video-wrap">
                <video autoplay="" loop="" muted="" class="custom-video" poster="">
                    <source src="video/rr.mp4" type="video/mp4">

                    Your browser does not support the video tag.
                </video>
            </div>
        </section>


        <section class="about-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
                        <div class="services-info">
                            <h2 class="text-dark mb-4">A Propos</h2>

                            <p class="text-dark",align="center">BeSomeone'sLight est une association a but non lucratif offrant un suivi, un accompagnement et un mentoring à des jeunes et adultes de toutes les couches sociales sur le plan mental; avec l'aide des psychologues et des sophrologues qualifiés .</p>
                            
                            <h2 class="text-dark mt-4">Notre vision</h2>
                            <p class="text-dark",align="center">De créer un réseau de mentorat et de faire connaître l’importance , l’impact de la santé mentale et du bien-être des Hommes; en particulier des personnes à besoin spécifique(handicap psychique, physique, cognitif. ); afin de leur permettre un épanouissement social sur tous les plans.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="about-text-wrap">
                            <img src="images/pre.png" class="about-image img-fluid">

                            <!--ddiv class="about-text-info d-flex">
                                <div class="d-flex">
                                </div>


                                <iv class="ms-4">

                                    <p class="mb-0">"à l'écoute : on vous écoute et vous accompagne"</p>
                                </div>
                            </div-->
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="artists-section section-padding" id="section_3">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-12 text-center">
                        <h2 class="mb-4">Nos réalisations</h1>
                    </div>

                    <div class="col-lg-5 col-12">
                        <div class="artists-thumb">
                            <div class="artists-image-wrap">
                                <img src="images/artists/joecalih-UmTZqmMvQcw-unsplash.jpg"
                                    class="artists-image img-fluid">
                            </div>

                            <div class="artists-hover">
                                <p>
                                    <strong>Plateforme de E-mentort avec Assistant psychologique</strong>
                                    <div align="center">
                                        Plateforme qui associe à tout jeune de n'importe quel région, ville ou pays , un Mentor qualifié en santé mentale de n’importe quel région, ville ou pays .
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-12">
                        <div class="artists-thumb">
                            <div class="artists-image-wrap">
                                <img src="images/artists/abstral-official-bdlMO9z5yco-unsplash.jpg"
                                    class="artists-image img-fluid">
                            </div>

                            <div class="artists-hover">
                                <p>
                                    <strong>BSL Digitalisation</strong>
                                    <div align="center">
                                    Digitalisation des notions
                                    de "Santé mentale" en dessin  animés".
                                 </div>
                                 <a href="vidéo.html" class="btn custom d-lg-block d-none">Découvrir</a>
                                    
                                </p>

                            </div>
                        </div>

                        <div class="artists-thumb">
                            <img src="images/artists/soundtrap-rAT6FJ6wltE-unsplash.jpg"
                                class="artists-image img-fluid">

                            <div class="artists-hover">
                                <p>
                                    <strong>Nos Évenements </strong>
                                    <div align="center">
                                        kit contenant des audios de motivation ,que tout individu pourra écouter en longueur de journée pour s'auto motiver.
                                    </div>
                                </p>
                                <a href="vidéo.html" class="btn custom d-lg-block d-none">Découvrir</a>

                            </div>
                        </div>
                        
                        
                    </div>

                </div>
            </div>
        </section>


        <!--section class="schedule-section section-padding" id="section_4">
            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2 class="text-white mb-4">Event Schedule</h1>

                            <div class="table-responsive">
                                <table class="schedule-table table table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>

                                            <th scope="col">Wednesday</th>

                                            <th scope="col">Thursday</th>

                                            <th scope="col">Friday</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <th scope="row">Day 1</th>

                                            <td class="table-background-image-wrap pop-background-image">
                                                <h3>Pop Night</h3>

                                                <p class="mb-2">5:00 - 7:00 PM</p>

                                                <p>By Adele</p>

                                                <div class="section-overlay"></div>
                                            </td>

                                            <td style="background-color: #F3DCD4"></td>

                                            <td class="table-background-image-wrap rock-background-image">
                                                <h3>Rock & Roll</h3>

                                                <p class="mb-2">7:00 - 11:00 PM</p>

                                                <p>By Rihana</p>

                                                <div class="section-overlay"></div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Day 2</th>

                                            <td style="background-color: #ECC9C7"></td>

                                            <td>
                                                <h3>DJ Night</h3>

                                                <p class="mb-2">6:30 - 9:30 PM</p>

                                                <p>By Rihana</p>
                                            </td>

                                            <td style="background-color: #D9E3DA"></td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Day 3</th>

                                            <td class="table-background-image-wrap country-background-image">
                                                <h3>Country Music</h3>

                                                <p class="mb-2">4:30 - 7:30 PM</p>

                                                <p>By Rihana</p>

                                                <div class="section-overlay"></div>
                                            </td>

                                            <td style="background-color: #D1CFC0"></td>

                                            <td>
                                                <h3>Free Styles</h3>

                                                <p class="mb-2">6:00 - 10:00 PM</p>

                                                <p>By Members</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </section-->


        <section class="pricing-section section-padding section-bg" id="section_5">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="text-center mb-4">Témoignages</h2>
                    </div>

                        <div class="testimonials text-center">
                      
                          <div class="container">
                            <div class="row">
                              <div class="col-md-6 col-lg-4">
                                <div class="card border-light bg-light text-center">
                                  <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
                                  <div class="card-body blockquote">
                                    <p class="card-text">"Très bien les ateliers ; Je me rends compte que , j’ai de la chance avoir cette vie beaucoup ne l’on pas . Nous sommes tous différents les uns des autres et je me sens tellement soulagée" . Merci !"</p>
                                    <footer class="blockquote-footer"><cite title="Source Title">Rose</cite></footer>
                                  </div>
                                </div>
                              </div>
                      
                              <div class="col-md-6 col-lg-4">
                                <div class="card border-light bg-light text-center">
                                  <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
                                  <div class="card-body blockquote">
                                    <p class="card-text">"J’ai beaucoup apprécié la séance et surtout ça m'a permis de répondre à une question qui me dérange beaucoup et ça m'a beaucoup fait du bien ."</p>
                                    <footer class="blockquote-footer"><cite title="Source Title">Hylary</cite></footer>
                                  </div>
                                </div>
                              </div>
                      
                              <div class="col-md-6 col-lg-4">
                                <div class="card border-light bg-light text-center">
                                  <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
                                  <div class="card-body blockquote">
                                    <p class="card-text">"Pour une  première fois et première séance c'était très intéressant ça m’a permis de me remettre en question et de voir l'importance de travailler certains points de ma vie ."</p>
                                    <footer class="blockquote-footer"><cite title="Source Title">Alice</cite></footer>
                                  </div>
                                </div>
                              </div>
                      
                            </div>
                          </div>
                      
                        </div>
                        
                
                                        
                    <!-- div class="col-lg-6 col-12">
                        <div class="pricing-thumb">
                            <div class="d-flex">
                                <div>
                                    <h3><small>Early Bird</small> $120</h3>

                                    <p>Including good things:</p>
                                </div>

                                <p class="pricing-tag ms-auto">Save up to <span>50%</span></h2>
                            </div>

                            <ul class="pricing-list mt-3">
                                <li class="pricing-list-item">platform for potential customers</li>

                                <li class="pricing-list-item">digital experience</li>

                                <li class="pricing-list-item">high-quality sound</li>

                                <li class="pricing-list-item">standard content</li>
                            </ul>

                            <a class="link-fx-1 color-contrast-higher mt-4" href="ticket.html">
                                <span>Buy Ticket</span>
                                <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                        <circle cx="16" cy="16" r="15.5"></circle>
                                        <line x1="10" y1="18" x2="16" y2="12"></line>
                                        <line x1="16" y1="12" x2="22" y2="18"></line>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                        <div class="pricing-thumb">
                            <div class="d-flex">
                                <div>
                                    <h3><small>Standard</small> $240</h3>

                                    <p>What makes a premium festava?</p>
                                </div>
                            </div>

                            <ul class="pricing-list mt-3">
                                <li class="pricing-list-item">platform for potential customers</li>

                                <li class="pricing-list-item">digital experience</li>

                                <li class="pricing-list-item">high-quality sound</li>

                                <li class="pricing-list-item">premium content</li>

                                <li class="pricing-list-item">live chat support</li>
                            </ul>

                            <a class="link-fx-1 color-contrast-higher mt-4" href="ticket.html">
                                <span>Buy Ticket</span>
                                <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                        <circle cx="16" cy="16" r="15.5"></circle>
                                        <line x1="10" y1="18" x2="16" y2="12"></line>
                                        <line x1="16" y1="12" x2="22" y2="18"></line>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div-->
                
                </div>
            </div>
        </section>


        <section class="contact-section section-padding" id="section_6">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="text-center mb-4">Contactez nous</h2>

                        <nav class="d-flex justify-content-center">
                            <div class="nav nav-tabs align-items-baseline justify-content-center" id="nav-tab"
                                role="tablist">
                                <button class="nav-link active" id="nav-ContactForm-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-ContactForm" type="button" role="tab"
                                    aria-controls="nav-ContactForm" aria-selected="false">
                                    <h5>Contact </h5>
                                </button>

                                <button class="nav-link" id="nav-ContactMap-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-ContactMap" type="button" role="tab"
                                    aria-controls="nav-ContactMap" aria-selected="false">
                                    <h5>Localisation</h5>
                                </button>
                            </div>
                        </nav>

                        <div class="tab-content shadow-lg mt-5" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-ContactForm" role="tabpanel"
                                aria-labelledby="nav-ContactForm-tab">
                                <form class="custom-form contact-form mb-5 mb-lg-0" action="#" method="post"
                                    role="form">
                                    <div class="contact-form-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <input type="text" name="contact-name" id="contact-name"
                                                    class="form-control" placeholder="Nom" required>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-12">
                                                <input type="email" name="contact-email" id="contact-email"
                                                    pattern="[^ @]*@[^ @]*" class="form-control"
                                                    placeholder="Email " required>
                                            </div>
                                        </div>

                                        <input type="text" name="contact-company" id="contact-company"
                                            class="form-control" placeholder="Centre d'interêt " required>

                                        <textarea name="contact-message" rows="3" class="form-control"
                                            id="contact-message" placeholder="Message"></textarea>

                                        <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                            <button type="submit" class="form-control">Envoyer</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="nav-ContactMap" role="tabpanel"
                                aria-labelledby="nav-ContactMap-tab">
                                <iframe class="google-map"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29974.469402870927!2d120.94861466021855!3d14.106066818082482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd777b1ab54c8f%3A0x6ecc514451ce2be8!2sTagaytay%2C%20Cavite%2C%20Philippines!5e1!3m2!1sen!2smy!4v1670344209509!5m2!1sen!2smy"
                                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                                <!-- You can easily copy the embed code from Google Maps -> Share -> Embed a map // -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>


    <footer class="site-footer">
        <div class="site-footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <h2 class="text-white mb-lg-0">BeSomone'sLight</h2>
                    </div>

                    <div class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center">
                        <ul class="social-icon d-flex justify-content-lg-end">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-twitter"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-apple"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="socialhttps://apprendre-html.3wa.fr/css/comprendre-css/bouton-css/mettre-forme-texte-bouton-html-icon-link">
                                    <span class="bi-instagram"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-youtube"></span>
                                </a>
                            </li>

                           
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

            </div>
        </div>

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mt-5">
                        <p class="copyright-text">à l'écoute : on vous écoute et vous accompagne</p>
                    </div>
                
                    <div class="col-lg-3 col-12 mt-5">

                        <p class="copyright-text">Contact: <a href="https://themewagon.com">+237696752150  </a></p>
                    </div>
                    <div class="col-lg-3 col-12 mt-5">
                    </div>
                    <div class="col-lg-3 col-12 mt-5">

                        <p class="copyright-text">BeSomeonelight © 2023 </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--

T e m p l a t e M o

-->

    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/click-scroll.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>