<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>BeSomeone'sLight</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link href="css/templatemo-festava-live.css" rel="stylesheet">
    <link href="css/gallery.css" rel="stylesheet">
    <!--

TemplateMo 583 Festava Live

https://templatemo.com/tm-583-festava-live

-->

</head>

<body>

    <main>

        <header class="site-header">
           <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 d-flex flex-wrap">
                        <p class="d-flex me-4 mb-0">
                            <strong class="text-dark">
                                Parler aide , parler apaise ,  mais pa﻿rler à la bonne personne 
                                guérit !
                                </strong>
                        </p>
                    </div>

                </div>
            </div>
        </header>


        <nav class="navbar navbar-expand-lg">
            <a href="index.html" > <img src="images/logo.png" alt="Logo HubSpot" width=20% height=20%/></a>
            <div class="container">
                


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

               
            </div>
        </nav>


        <section class="ticket-section section-padding">
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
             
            </head>
            <body>
                <br>
                <br>
                <h2>Mentors</h2>
            
                <section class="artists-section section-padding" id="section_3">
                    <div class="container">
                        <div class="row justify-content-center">
        
        
                            <div class="col-lg-5 col-12">
                                <div class="artists-thumb">
                                    <div class="artists-image-wrap">
                                        <img src="images/artists/abstral-official-bdlMO9z5yco-unsplash.jpg"
                                            class="artists-image img-fluid">
                                    </div>
        
                                    <div class="artists-hover">
                                        <p>
                                            <strong>BSL DIGITALISATION</strong>
                                            <div align="center">
                                            Digitalisation des notions
                                            de "Santé mentale" en dessin  animés".
                                         </div>
                                         <a href="rrr.html" class="btn custom d-lg-block d-none">Envoyer</a>
                                            
                                        </p>
        
                                    </div>
                                </div>
        
                                <div class="artists-thumb">
                                    <img src="images/artists/soundtrap-rAT6FJ6wltE-unsplash.jpg"
                                        class="artists-image img-fluid">
        
                                    <div class="artists-hover">
                                        <p>
                                            <strong>KiT BSL</strong>
                                            <div align="center">
                                                kit contenant des audios de motivation ,que tout individu pourra écouter en longueur de journée pour s'auto motiver.
                                            </div>
                                            <a href="rrr.html" class="btn custom d-lg-block d-none">Envoyer</a>

                                        </p>
        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="artists-thumb">
                                    <div class="artists-image-wrap">
                                        <img src="images/artists/abstral-official-bdlMO9z5yco-unsplash.jpg"
                                            class="artists-image img-fluid">
                                    </div>
        
                                    <div class="artists-hover">
                                        <p>
                                            <strong>BSL DIGITALISATION</strong>
                                            <div align="center">
                                            Digitalisation des notions
                                            de "Santé mentale" en dessin  animés".
                                         </div>
                                         <a href="rrr.html" class="btn custom d-lg-block d-none">Envoyer</a>
                                            
                                        </p>
        
                                    </div>
                                </div>
        
                                <div class="artists-thumb">
                                    <img src="images/artists/soundtrap-rAT6FJ6wltE-unsplash.jpg"
                                        class="artists-image img-fluid">
        
                                    <div class="artists-hover">
                                        <p>
                                            <strong>KiT BSL</strong>
                                            <div align="center">
                                                kit contenant des audios de motivation ,que tout individu pourra écouter en longueur de journée pour s'auto motiver.
                                            </div>
                                            <a href="rrr.html"  class="btn custom d-lg-block d-none">Envoyer</a>

                                        </p>
        
                                        
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </section>
                 
            </body>
            </html>
        </section>
    </main>


    
    <footer class="site-footer">
        <div class="site-footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <h2 class="text-white mb-lg-0">BeSomeone'sLight</h2>
                    </div>

                    <div class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center">
                        <ul class="social-icon d-flex justify-content-lg-end">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-twitter"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-apple"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="socialhttps://apprendre-html.3wa.fr/css/comprendre-css/bouton-css/mettre-forme-texte-bouton-html-icon-link">
                                    <span class="bi-instagram"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-youtube"></span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

            </div>
        </div>

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mt-5">
                        <p class="copyright-text">à l'écoute : on vous écoute et vous accompagne</p>
                    </div>
                
                    <div class="col-lg-3 col-12 mt-5">

                        <p class="copyright-text">Contact: <a href="https://themewagon.com">+237696752150  </a></p>
                    </div>
                    <div class="col-lg-3 col-12 mt-5">
                    </div>
                    <div class="col-lg-3 col-12 mt-5">

                        <p class="copyright-text">BeSomeonelight © 2023 </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--

T e m p l a t e M o

-->
    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/gallery.js"></script>

</body>

</html>